<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form class="login-form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-input" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-input" />
      </div>
      <div class="form-group">
        <button type="submit" class="login-btn">Login</button>
      </div>
      <a href="/signup" class="signup-link">Sign up instead</a>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>