<div class="login-container">
  <div class="login-box">
    <h2>Sign Up</h2>
    <form class="signup-form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-input" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-input" />
      </div>
      <div class="form-group">
        <button type="submit" class="login-btn">Sign Up</button>
      </div>
      <a href="/login" class="signup-link">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>
